<div class="pagecontainer">

<h2>Tell us about your plane</h2>
<div class="formcontainer">

<%= simple_form_for(plane) do |f| %>
<div class="d-flex form-inputs">
  <span><%= f.input :rate %></span>
  <span><%= f.input :pilot_name %></span>
</div>

  <div class="d-flex horizontal-inputs ">
  <span><%= f.input :location %></span>
  <span><%= f.input :capacity %></span>
</div>

  <div class="description-inputs">
  <%= f.input :description %>
</div>
  <%= f.input :photo, as: :file %>

<div class="form-actions">

  <%= f.button :submit,  class: "btn-create" %>


<% end %>
</div>
</div>
</div>
