<div class="banner">
<div class="navbar navbar-white">
  <div class="logo">
    <p><%= link_to("ALTURA", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
     <% if current_user.planes.any? %>
            <li><%= link_to("BOOKINGS", plane_path(Plane.find_by(user: current_user)))%></li>
        <% end %>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>
  <div class="banner-content container text-left" style= "margin: 10%;">
      <h1>Fly High</h1>
      <p>Book private jets to any destination.</p>
      <%= link_to "List a plane", new_plane_path, class: 'btn btn-success' %>
  </div>
</div>
<h2 class="container" class="font-change">Available near me</h2>
<div class= 'planes-container container'>
    <% @planes.each do |plane| %>



      <div class="card-trip">
        <%= link_to plane_path(plane) do %>

        <% if plane.photo.attached? %>
        <%= cl_image_tag plane.photo.key %>
        <% else %>
        <img src="https://source.unsplash.com/random?sig=#{rand(1..1000)}&?jet" alt="">
        <% end %>

          <div class="card-trip-infos">
              <div>
                  <h2><%= plane.name%></h2>
                  <p> <%= plane.description%> </p>
              </div>
                 <h2 class="card-trip-pricing"> $<%= plane.rate %></h2>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>








