<div class="banner">
<div class="navbar navbar-white">
  <div class="logo">
    <p><%= link_to("ALTURA", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
     <% if current_user.planes.any? %>
            <li><%= link_to("BOOKINGS", plane_path(Plane.find_by(user: current_user)))%></li>
        <% end %>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>
  <div class="banner-content container text-left text-change" style= "margin: 5%; margin-left: 13%;">
      <h1 style= "font-size: 60px;">Fly High</h1>
      <p style= "font-weight: 300; color: white; opacity: 1;">Book private jets to any destination.</p>
      <%= link_to "List a plane", new_plane_path, class: 'mainbutton' %>
  </div>
</div>

<h2 class="container font-change">Available near me</h2>

<!-- this is the search bar -->

<div class="searchbar container form-inline">

<%= form_tag planes_path, class: "search-bar", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control search-input",
    placeholder: "Find a private jet"
  %>
   <span class="input-group-btn">
      <%= submit_tag "Search", class: "btn-custom" %>

  </span>
<% end %>

</divn>


<div class= 'planes-container container'>
    <% @planes.each do |plane| %>



      <div class="card-trip">
        <%= link_to plane_path(plane) do %>

        <% if plane.photo.attached? %>
        <%= cl_image_tag plane.photo.key %>
        <% else %>
        <img src="https://source.unsplash.com/random?sig=#{rand(1..1000)}&?jet" alt="">
        <% end %>

          <div class="card-trip-infos">
              <div>
                  <h2><%= plane.name%></h2>
                  <p> <%= plane.description%> </p>
              </div>
                 <h2 class="card-trip-pricing"> $<%= plane.rate %></h2>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>


<!-- After executed search back to index -->

<div class=search-footer>

  <% if params[:query] %>
  <%= link_to "Back to Overview", planes_path, class: 'btn-custom' %>
  <% end %>

</div>







