<div class="banner">
<div class="navbar navbar-white">
  <div class="logo">
    <p><%= link_to("ALTURA", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
      <li><%= link_to("BOOKINGS", plane_path(Plane.find_by(user: current_user)))%></li>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>
  <div class="banner-content container text-left" style= "margin: 10%;">
      <h1>Fly High</h1>
      <p>Book private jets to any destination.</p>
      <%= link_to "List a plane", new_plane_path, class: 'btn btn-success' %>
  </div>
</div>
<h2 class="container">Available near me</h2>
<div class= 'planes-container container'>
    <% @planes.each do |plane| %>
      <div class="card-trip">
        <%= cl_image_tag plane.photo.key %>
          <div class="card-trip-infos">
              <div>
                  <h2><%= link_to plane.name, plane_path(plane) %></h2>
                  <p> <%= link_to plane.description, plane_path(plane) %> </p>
              </div>
                 <h2 class="card-trip-pricing"> $ <%= plane.rate %> </h2>
          </div>
        </div>
    <% end %>
  </div>





