<div class="showpage">


<% if @plane.photo.attached?  %>
<div class="banner-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @plane.photo.key %>);">
</div>
<% else %>
<div class="banner-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/random?sig=#{rand(1..1000)}&?jet" %>);">
</div>
<% end %>

<div class="content">

<div class="left">
  <h2>Really amazing jet</h2>
  <div class="icons">
    <div class="firsticons">
    <div class="capacity">
      <%= image_tag "user.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.capacity %> Passengers</p>
    </div>
    <div class="name">
      <%= image_tag "plane.png", class: "icon", alt: "alttext" %>
      <p>Nextant 400XTi</p>
    </div>
    </div>
    <div class="secondicons">
      <div class="pilot">
      <%= image_tag "pilot.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.pilot_name %></p>
    </div>
    <div class="location">
      <%= image_tag "pin.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.location %></p>
    </div>
    </div>
  </div>
  <div class="description">
    <p><%= @plane.description %></p>
  </div>
</div>

<% if current_user == @plane.user %>
<div class="right">
  <div class="rightcontent">
    <h2>New bookings</h2>
    <div class="user">
      <%= image_tag "laura.png", class: "avatar", alt: "alttext" %>
      <p>Laura Aunion</p>
    </div>
    <div class="message">
      <p>Hi Katy! I would like to book your jet to Beijing on the 24th at 2pm. My number is 203-393-234!</p>
    </div>
    <div class="button-green">
      <a href="#">Approve</a>
    </div>
  </div>

</div>
<% else %>
<div class="right">
  <div class="rightcontent">
    <h2>Add details</h2>
      <div class="calendar">
        <div class="from">
          <p>From</p>
          <div class="bookingfrom">
            <img src="" alt="">
            <img src="" alt="">
          </div>
          <%#= simple_form_for @booking do |f| %>
          <%#= f.input :enter_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %>
          <%# end %>
        </div>
        <div class="to">
          <p>To</p>
            <div class="bookingto">
            <img src="" alt="">
            <img src="" alt="">
          </div>

        </div>
      </div>
    <div class="button-green">
      <a href="#">View Prices</a>
    </div>
  </div>


<% end %>

</div>
</div>



