<div class="showpage">

<div class="photo-container">
<% if @plane.photo.attached?  %>
<div class="banner-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @plane.photo.key %>);">
</div>
<% else %>
<div class="banner-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/random?sig=#{rand(1..1000)}&?jet" %>);">
</div>
<% end %>
  <div class="rate">
    <p>$<%= @plane.rate.to_i %></p>
    <span>per hour</span>
  </div>
</div>

<div class="content">

  <div class="userinfo">
    <div class="userinfocontent">
       <div class="user">
      <%= cl_image_tag @plane.user.photo.key, class: "avatar-large user-profile", alt: "alttext" %>
    </div>
    <h2>Meet <%= @plane.user.firstname %></h2>
    <p>" <%= @plane.user.bio %> "</p>

    </div>
  </div>

<div class="left">
  <h2>Premium Jet Features</h2>
  <div class="icons">
    <div class="firsticons">
    <div class="capacity">
      <%= image_tag "user.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.capacity %> Passengers</p>
    </div>
    <div class="name">
      <%= image_tag "plane.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.name %></p>
    </div>
    </div>
    <div class="secondicons">
      <div class="pilot">
      <%= image_tag "pilot.png", class: "icon", alt: "alttext" %>
      <p>Mr. Pilot</p>
    </div>
    <div class="location">
      <%= image_tag "pin.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.location %></p>
    </div>
    </div>
  </div>
  <br>
  <div class="description">
    <p><%= @plane.description %></p>
  </div>
</div>


<div class="right">
  <div class="rightcontent">
    <h2>Request Booking</h2>
      <div class="calendar">
      <%= simple_form_for [@plane, @booking] do |f| %>
      <%= f.input :start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Submit", class: "btn button-green"%>
    <% end %>
        </div>
      </div>
  </div>

</div>

<!-- maps boxs -->
<div  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>



