<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
  <%= @plane.location %>
  <%= @plane.pilot_name %>
  <%= @plane.description %>
  <%= @plane.rate %>
  <%= @plane.capacity %>

</p>

<p>
  <strong>User:</strong>
  <%= @plane.user %>
</p>

<%= cl_image_tag @plane.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to 'Back', planes_path %>
