<div class="showpage">

<div class="navbar">
  <div class="logo">
    <h1><a href="#">ALTURA</a></h1>
  </div>
  <div class="links">
    <a href="#">LOGOUT</a>
  </div>
</div>


<% if @plane.photo.attached?  %>
<div class="banner-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @plane.photo.key %>);">
</div>
<% else %>
<div class="banner-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/random?sig=#{rand(1..1000)}&?jet" %>);">
</div>
<% end %>


<div class="content">

<div class="left">
  <h2>Really amazing jet</h2>
  <div class="icons">
    <div class="firsticons">
    <div class="capacity">
      <%= image_tag "user.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.capacity %> Passengers</p>
    </div>
    <div class="name">
      <%= image_tag "plane.png", class: "icon", alt: "alttext" %>
      <p>Nextant 400XTi</p>
    </div>
    </div>
    <div class="secondicons">
      <div class="pilot">
      <%= image_tag "pilot.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.pilot_name %></p>
    </div>
    <div class="location">
      <%= image_tag "pin.png", class: "icon", alt: "alttext" %>
      <p><%= @plane.location %></p>
    </div>
    </div>
  </div>
  <div class="description">
    <p><%= @plane.description %></p>
  </div>
</div>

<div class="right">
  <div class="rightcontent">
    <h2>New bookings</h2>
    <div class="user">
      <%= image_tag "laura.png", class: "avatar", alt: "alttext" %>
      <p>Laura Aunion</p>
    </div>
    <div class="message">
      <p>Hi Katy! I would like to book your jet to Beijing on the 24th at 2pm. My number is 203-393-234!</p>
    </div>
    <div class="button-green">
      <a href="#">Approve</a>
    </div>
  </div>

</div>

</div>
</div>



