<div class="dashboardcontainer">
  <div class="navbar navbar-dark" style="margin-bottom: -117px;">
  <div class="logo">
    <p><%= link_to("", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
     <% if current_user.planes.any? %>
            <li><%= link_to("HOME", root_path)%></li>
        <% end %>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="dashboard">


  <div class="dashleft">

    <div class="profileinfo">
    <div class="profile">
      <%= image_tag "laura.png", class: "avatar-large", alt: "alttext" %>
      <h4>Katy Link</h4>
      <p>Madrid, Spain</p>
    </div>
    <div class="dashlinks">
      <div class="bookings">
        <i class="fas fa-calendar-week"></i>
        <p>BOOKINGS</p>
      </div>
      <div class="trips">
        <i class="fas fa-globe"></i>
        <p>MY TRIPS</p>
      </div>
      <div class="settings">
        <i class="fas fa-sliders-h"></i>
        <p>SETTINGS</p>
        </div>
      </div>
      </div>
    </div>

    <div class="dashright">
      <div class="dashrightcontent d-flex">
      <div class="myplane">
        <div class="planecontainer">
          <div class="planeleft">
            <h2>Boeing 271</h2>
            <h3>$2000</h3>
            <p>per hour</p>
          </div>
          <div class="planeright">
            <p>EDIT</p>
            <%= image_tag "dashboardplane.png", class: "planeimg", alt: "alttext" %>
          </div>
        </div>
      </div>
      <div class="myplane">
        <div class="planecontainer color-change">
          <div class="planeleft">
            <h2>Total Flights</h2>
            <h3>121</h3>
            <p>this year</p>
          </div>
          <div class="planeright image-move">
            <p> </p>
            <%= image_tag "map.png", class: "planeimg", alt: "alttext" %>
          </div>
        </div>
      </div>
    </div>
      <div class="bookingscontainer">
        <h2>Bookings</h2>
        <p>Month overview</p>
        <div class="headers">
          <div class="renter"><p>Renter</p></div>
          <div class="date"><p>Date</p></div>
          <div class="passengers"><p>Passengers</p></div>
          <div class="income"><p>Income</p></div>
        </div>
        <div class="data">
          <div class="renterdata">
            <div class="profilerenter">
            <%= image_tag "laura.png", class: "avatar-small", alt: "alttext" %>
            <p>Laura Aunion</p></div>
            </div>
          <div class="datedata"><p>Wed, Feb 2</p></div>
          <div class="passengersdata"><p>6</p></div>
          <div class="incomedata"><p>4.5k</p></div>
        </div>
      </div>
      <div class="d-flex add-margin">
      <div class="datacontainer">
        <h4>121.1k</h4>
        <p>Total earnings</p>
      </div>
       <div class="datacontainer">
        <h4>1.5k</h4>
        <p>Daily average</p>
      </div>
       <div class="datacontainer">
        <h4>1</h4>
        <p>Active booking</p>
      </div>
      </div>
      <div class="mytrips">
        <div class= 'container dashboard-container'>
    <% @planes.each do |plane| %>
      <div class="card-trip dashboard-card margin-card">
        <%= link_to plane_path(plane) do %>
        <% if plane.photo.attached? %>
        <%= cl_image_tag plane.photo.key %>
        <% else %>
        <img src="https://source.unsplash.com/random?sig=#{rand(1..1000)}&?jet" alt="">
        <% end %>

          <div class="card-trip-infos">
              <div>
                  <h2><%= plane.name%></h2>
                  <p> <%= plane.description%> </p>
              </div>
                 <h2 class="card-trip-pricing"> $<%= plane.rate %></h2>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>
</div>
    </div>
  </div>
</div>
