<div class="dashboardcontainer">
  <div class="navbar navbar-dark" style="margin-bottom: -117px;">
  <div class="logo">
    <p><%= link_to("", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
     <% if current_user.planes.any? %>
            <li><%= link_to("HOME", root_path)%></li>
        <% end %>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="dashboard">


  <div class="dashleft">

    <div class="profileinfo">
    <div class="profile">
      <%= image_tag "laura.png", class: "avatar-large", alt: "alttext" %>
      <h4>Katy Link</h4>
      <p>Madrid, Spain</p>
    </div>
    <div class="dashlinks">
      <div class="bookings">
        <i class="fas fa-calendar-week"></i>
        <p>BOOKINGS</p>
      </div>
      <div class="trips">
        <i class="fas fa-globe"></i>
        <p>MY TRIPS</p>
      </div>
      <div class="settings">
        <i class="fas fa-sliders-h"></i>
        <p>SETTINGS</p>
        </div>
      </div>
      </div>
    </div>

    <div class="dashright">


    <%= render "bookings" unless current_user.planes.empty? %>

    <%= render "trips" if current_user.planes.empty? %>


    </div>
  </div>
</div>
