<div class="dashboardcontainer">
  <div class="navbar navbar-dark" style="margin-bottom: -117px;">
  <div class="logo">
    <p><%= link_to("", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
     <% if current_user.planes.any? %>
            <li><%= link_to("HOME", root_path)%></li>
        <% end %>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="dashboard">


  <div class="dashleft">

    <div class="profileinfo">
    <div class="profile">
      <%= cl_image_tag current_user.photo.key, class: "avatar-large", alt: "alttext" %>
      <h4><%= current_user.firstname%> <%= current_user.lastname %></h4>
      <p><%= current_user.location %></p>
    </div>
    <div class="dashlinks">
      <div class="bookings">
        <i class="fas fa-calendar-week"></i>
        <a href="/dashboard"><p>BOOKINGS</p></a>
      </div>
      <div class="bookings">
        <i class="fas fa-globe"></i>
        <a href="/trips"><p>TRIPS</p></a>
      </div>


      <div class="settings">
        <i class="fas fa-sliders-h"></i>
        <a href="#"><p>SETTINGS</p></a>
        </div>
      </div>
      </div>
    </div>

    <div class="dashright">


    <div class="mytrips">
  <% if current_user.bookings.empty? %>
  <div class="nobookings">
  <h2>You don’t have anything coming up—book your next trip on Altura.</h2>
  </div>
  <% else %>

        <div class= 'container dashboard-container'>
    <% current_user.bookings.each do |booking| %>
      <div class="card-trip dashboard-card margin-card">
        <%= link_to plane_path(booking.plane) do %>
        <div class="photo">
        <%= cl_image_tag booking.plane.photo.key %>
        <h2 class="card-trip-pricing confirmed"> CONFIRMED</h2>
        </div>

          <div class="card-trip-infos ">
              <div class="dashboard-card-trip">
                  <h2>WED, MAY 23, 3:00 PM - FRI MAY 25, 11:00 AM</h2>
                  <h2 style="font-size: 20px; margin-top: 7px; margin-bottom: 3px;"><%= booking.plane.name%></h2>
                  <p> <%= booking.plane.description%> </p>
              </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>
    <% end %>
</div>


    </div>
  </div>
</div>





