<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ALTURA</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% if current_page?('/planes') || current_page?('/') %>
    <div class="navbar navbar-white">
  <div class="logo">
    <p><%= link_to("ALTURA", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
      <li><%= link_to("BOOKINGS", plane_path(Plane.find_by(user: current_user)))%></li>
      <li><%= link_to("LOG OUT", destroy_user_session_path)%></li>
      </ul>
    <% end %>
  </div>
</div>
  <% else %>
  <div class="navbar">
  <div class="logo">
    <p><%= link_to("ALTURA", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
      <li><%= link_to("BOOKINGS", plane_path(Plane.find_by(user: current_user)))%></li>
      <li><%= link_to("LOG OUT", destroy_user_session_path)%></li>
      </ul>
    <% end %>
  </div>
</div>
<% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
