<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ALTURA</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% unless current_page?('/planes') || current_page?('/') || current_page?("/users/sign_in") || current_page?("/dashboard") %>
  <div class="navbar">
  <div class="logo">
    <p><%= link_to("ALTURA", "/planes")%></p>
  </div>
  <div class="links">
    <% if current_user %>
      <ul>
        <% if current_user.planes.any? %>
            <li><%= link_to("BOOKINGS", plane_path(Plane.find_by(user: current_user)))%></li>
        <% end %>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>
<% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
